<header>
    <nav>
        <div class="navbar">
            <section class="navbar-section">
                <a href="/"> Home </a>
                <a href="/about"> About </a>
                <a href="/projects"> Projects </a>
                <a href="/contact"> Contact </a>
               
                {{#if isLoggedIn}}
                    <div class="to-the-right">
                        Hi, {{name}}! &nbsp; &nbsp;
                        <a href="/logout">Log Out</a>
                    </div>
                {{else}}
                    <a href="/login">Log In</a>
                {{/if}}
            </section>
        </div>
    </nav>
</header>
