<div id="main">
    <div>
        <section class="parallax-container">
            <h1>Nazli Zamanian Gustavsson </h1>
            <h2>Computer Engineering Student</h2>
      </section>
  
      <section class="buffer">
        <div class="about" id="about-me">
            <h3>About Me</h3>
            <p> I am a second-year computer engineering student with a diverse work background. 
                I have always been captivated by technology's impact on our world, 
                which led me to pursue computer engineering. In addition to my academic studies, 
                I have gained valuable skills from various jobs, ranging from etail and restaurants to hospitality and everything inbetween. 
                These experiences have given me adaptability and problem-solving abilities that I bring to my computer engineering career.
                <br>
                I am currently searching for innternship positions along with other professional opportunities in both front-end and back-end development,
                additionally  junior-level positions in the field of cybersecurity! 
            </p>
        </div>
        <div id="education">
          <h3>Education</h3>
            <div class="timeline">
              <div class="container right">
                <div class="content">
                  <h4>Jönköping University / 2022-2025 Current</h4>
                  <h5>Degree of Bachelor of Science in Computer Engineering with specialization in Software Engineering 
                    and Mobile Platforms</h5>
                  <p>The education is largely based on projects and exercises that provide practical experience in the techniques being taught.
                    The program focuses on understanding how computers work and the structure of computer networks. In the early stages of the program the focuses lies on 
                    understanding the basic fundamentals of computer science and mathematics. Following that, the program will dive deeper into mobile device 
                    development, web development, computer networks, and systems. The programe includs learning in C and its derivatives such as C++, SQL database management systems, 
                    algorithms and data structures, object-oriented programming principles, computer networking concepts, Windows operating systems, as well 
                    as web technologies like HTML, CSS, and JavaScript.
                    <br>
                    <i class="fa-solid fa-link"></i>
                    <a href="https://ju.se/studera/valj-utbildning/program/program-pa-grundniva/mjukvaruutveckling-och-mobila-plattformar.html">Jönköping University.se</a>
                  </p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h4>EC Utbildning Yrkeshögskola / 2020-2022</h4>
                  <p>Software development with a specialization in Industrial Internet Of
                    Things (IoT).</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h4>EC Utbildning Yrkeshögskola / 2020</h4>
                  <p>Course in Programming 1.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h4>Internationella Engelska Gymnaiset Södermalm (IEGS) / 2017-2020</h4>
                  <h5> High school degree in natural science programme with specialization
                      in social science</h5>
                 <p>The programme mainly focuses on research, analysis, 
                  and communication skills in the context of natural sciences and mathematics and 
                  interdisciplinary connections. It introduces core concepts, promotes scientific method 
                  awareness, improves language proficiency for scientific communication, fosters the integration 
                  of scientific elements, and encourages coherent knowledge integration in fields as biology, 
                  chemistry, physics. Additionally the programme puts a signficant emphasis on social science as well. 
                  <br>
                  <i class="fa-solid fa-link"></i>
                  <a href="https://www.engelskagymnasiet.se/academics/programmes/natural-science-specialisation-natural-science/">Internationella Engelska Gymansiet.se</a>
                  </p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h4>Trollbodaskolan Grundskola / 2007-2017</h4>
                  <p>Software development with a specialization in Industrial Internet Of
                    Things (IoT).</p>
                </div>
              </div>
            </div>
            <br>
            <br>

            <div id="experience">
              <h3>Experience</h3>
                <div class="timeline">
                  <div class="container right">
                    <div class="content">
                      <h4>Salesman OKQ8, Stockholm / March 2021 – September 2022</h4>
                      <p>Salesman at a gas service station. Varying job tasks from cleaning,
                        taking care of customers. Additionally, car rental services and taking
                        care of the different vehicles and trailers.</p>
                        <br>
                    </div>
                  </div>
                  <div class="container right">
                    <div class="content">
                      <h4>Caretaker Solom AB, Stockholm / January 2020 – August 2020</h4>
                      <p>Caretaker at a special needs group home residence, providing assistance and support to residents.</p>
                    </div>
                  </div>
                  <div class="container right">
                    <div class="content">
                      <h4>Assistant Floor Manager O'Learys Mall Of Scandinavia, Stockholm / April 2016– January 2020</h4>
                      <p>Responsibilities consisted of arranging the resturants events, serving food and beverages, managing pentathlons and other games activities. 
                          Responsible for smaller sections of the departments including the bar and event organizer ( 3-& 5 battles, bachelor’s and children’s parties) 
                          Managed administrative functions for the day, served as the primary liaison between customers and employees, 
                          utilizing the best judgement in tandem with the restaurants standards to resolve conflict that might have arose. 
                          Maintained and executed routines site sanitation,supervising and furthermore.</p>
                    </div>
                  </div>
                  <br>
                </div>
        </div>
      </section>
      <section class="buffer">
        <div class="about">
          <h3>Skillset</h3>
          <h4>Technical Skills</h4>
        <div class="skillset" id="skillset">
          <div class="wrapper">
            <div class="card">
              <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">C</div>
            </div>
            <div class="card cplusplus">
              <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">C++</div>
            </div>
            
              <div class="card css">
              <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">CSS</div>
            </div>
            
            <div class="card html">
              <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">HTML</div>
            </div>
            
            <div class="card sql">
              <div class="circle">
                <div class="bar"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">SQL</div>
            </div>
          </div>
      
          <script>
            let options = {
              startAngle: -1.55,
              size: 150,
              value: 0.85,
              fill: {
              color: '#F08080'
            }
            }
            $(".circle .bar").circleProgress(options).on('circle-animation-progress',
            function(event, progress, stepValue){
              $(this).parent().find("span").text(String(stepValue.toFixed(2).substr(2)) + "%");
            });
            $(".cplusplus .bar").circleProgress({
              value: 0.70
            });
            $(".css .bar").circleProgress({
              value: 0.60
            });      
            $(".html .bar").circleProgress({
              value: 0.65
            });
             $(".sql .bar").circleProgress({
              value: 0.70
            });
          </script>
          </div>
        </div>
      </section>
    </div>
    <br>
    <br>
    </div>
</div>
 