<div id="main">
   <div>
        <div class="login-container">
          <h3>Banksystem programme</h3>
          <p> 
            LIA project created in the programming language C.
            This LIA project is an innovative and user-friendly bank management 
            program designed to emulate the nature and primary functions of an 
            ATM (Automated Teller Machine) while encompassing a wide range of 
            tasks that one would typically expect during a visit to a traditional 
            bank. This program was meticulously crafted with a focus on enhancing 
            customer convenience, security, and overall banking efficiency.
          </p>
          <a href="https://github.com/Nazlizamanian/LIA">Learn more</a>
    </div>
  
 
</div>
