<div id="main">
    <div>
        <div class="login-container">
        <h1>Welcome!</h1>
        <h2>Please Login</h2>
         <form  action="/login" method="post"> <!--will go to post-->
          <fieldset>
                <label for="user">Username:</label>
                <input type="text" class="input-box" name="user" id="user" required="required">
                <br>
                <label for="user">Password:</label>
                <input type="password"  class="input-box" name="pw" id="pw" required="required">
                <br>
            </fieldset>
            <br>
            <button type="submit">Login</button>
         </form>
    </div>
</div>
