<div id="main">
    <div>
        <h1>Modify Project</h1>
    </div>
    {{#if isLoggedIn}}
    {{#if isAdmin}}
    <form action="/projects/update{{projects.projectID}}" method="post">
        <fieldset>
            <label for="projectTitle"> Project Title:</label>
            <input type="text" class="input-box" name="projectTitle" id="projectTitle" required="required">
            <br />
            <label for="projectDescription"> Project Description:</label>
            <input type="text"  class="input-box" name="projectDescription" id="projectDescription" required="required">
            <br />
            <label for="link"> Project Link:</label>
            <input type="text"  class="input-box" name="link" id="link" required="required">
            <select name="projectType" id="projectType" required="required">
            </select>
        </fieldset>
        <button type="submit" value="Add project">Update</button>
    </form>
    {{else }}
    <p>Sorry, must be an admin to modify project!</p>
    {{/if}}
    {{else}}
        <p>
            Must be logged in to add new project! <br />
            Go to <a href="/login">Log In</a>
        </p>
    {{/if}}
</div>

