<div id="main">
   <div>
        <div class="login-container">
          <h3>Online Web Shop SQL</h3>
          <p> Small group project made in the course Database that consist of a typcial process of 
            creating a database from start to end, using ER diagram and SQL queries.
            The ER diagram is the foundational step. It provides a visual representation 
            of the key entities and their relationships. It outlines essential entities and their attributes.
            Building upon the conceptual diagram by specifying detailed information about the database 
            structure. This includes defining data types (e.g., VARCHAR, INT, DATE), 
            primary keys (uniquely identifying each record), foreign keys (linking related tables), 
            and constraints (rules for data integrity) and this diagram is the logical. It is then 
            normalize to the 3rd Normal Form (3NF) to minimize data redundancy and maintain data 
            integrity. This involves breaking down tables to their most atomic level, eliminating 
            partial dependencies, and ensuring that all non-key attributes are functionally 
            dependent on the primary key. With the database design complete, SQL queries are used
            to retrieve and manipulate data, such as enabling customers to search for 
            placed orders, and view their order history.
          </p>
          <a href="https://github.com/Nazlizamanian/OnlineWebShopDatabaseSQL">Learn more</a>
    </div>
  
 
</div>
