<div id="main">
   <div>
        <div class="login-container">
          <h3>{{project.projectTitle}}</h3>
          <p> {{project.projectDescription}}
          </p>
          {{!-- <a href="https://github.com/Nazlizamanian/OnlineWebShopDatabaseSQL">Learn more</a> --}}
    </div>
</div>
