<div id="main">
  <div class="login-container">
    <h3>{{project.projectTitle}}</h3>
    <div>{{project.projectDescription}}</div>
    {{!-- <a href="https://github.com/Nazlizamanian/OnlineWebShopDatabaseSQL">Learn more</a> --}}
  </div>
</div>
