<div id="main">
  <div class="login-container">
    <h3 class="card-header-project-h">{{project.projectTitle}}</h3>
    <div class="card-header-project-f">{{project.projectDescription}}</div>
  </div>
</div>
